@model WebAppPRODUCTOS.Models.Producto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nombres" class="control-label"></label>
                <input asp-for="nombres" class="form-control" />
                <span asp-validation-for="nombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="precio" class="control-label"></label>
                <input asp-for="precio" class="form-control" />
                <span asp-validation-for="precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descripcion" class="control-label"></label>
                <input asp-for="descripcion" class="form-control" />
                <span asp-validation-for="descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <img src="" id="imagen2" class="img-thumbnail"
                     style="max-height: 75px;max-width: 75px;"
                     asp-append-version="true" />
                <label class="control-label">Seleccione fotografia</label>
                <input asp-for="imagen" type="file" id="seleccionImg">@*para que solo acepte un tipo de archivos -> accept="image/jpeg"*@
                <input hidden asp-for="imagen" id="imagenHidden" />
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="favorito" /> @Html.DisplayNameFor(model => model.favorito)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="categoriaId" class="control-label"></label>
                <select asp-for="categoriaId" class="form-control" asp-items="ViewBag.categoriaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="marcaId" class="control-label"></label>
                <select asp-for="marcaId" class="form-control" asp-items="ViewBag.marcaId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

        <script>
            seleccionImg.onchange = evt => {
                const [file] = seleccionImg.files
                if (file) {
                    imagen2.src = URL.createObjectURL(file)
                    //imagen2.removeAttribute("hidden");
                    imagenHidden.value = file.name;
                }

            }

        </script>
}
