@model WebAppPRODUCTOS.Models.Producto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="nombres" class="control-label"></label>
                <input asp-for="nombres" class="form-control" />
                <span asp-validation-for="nombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="precio" class="control-label"></label>
                <input asp-for="precio" class="form-control" />
                <span asp-validation-for="precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descripcion" class="control-label"></label>
                <input asp-for="descripcion" class="form-control" />
                <span asp-validation-for="descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="imagen" />@*ocualtar el dato de la foto para poder recibirla*@
                <img src="~/images/@Model.imagen" id="imagen2" class="img-thumbnail"
                     style="max-height: 75px;max-width: 75px;"
                     display=@(!string.IsNullOrEmpty(@Model.imagen) ? "block" : "none") asp-append-version="true" />
                @* Si no es vacia el nombre de la foto muestra el display block sino muestra el none que es vacia *@
                <label class="control-label">Seleccione fotografia</label>
                <input asp-for="imagen" type="file" id="seleccionImg" />
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="favorito" /> @Html.DisplayNameFor(model => model.favorito)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="categoriaId" class="control-label"></label>
                <select asp-for="categoriaId" class="form-control" asp-items="ViewBag.categoriaId"></select>
                <span asp-validation-for="categoriaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="marcaId" class="control-label"></label>
                <select asp-for="marcaId" class="form-control" asp-items="ViewBag.marcaId"></select>
                <span asp-validation-for="marcaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script src="~/js//preview.js"></script>
@* Importamos libreria de jquery y el archivo preview.js *@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#precio").rules("remove", "number");
    });
</script>
}
